/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
span {
    background: rgb(65, 65, 65);
    color: white;
    margin: 5px;
    padding: 10px;
    font-size: 50px;
    border-radius: 15px;
    border: 2px solid black;
}

div {
    background: black;
    padding: 10px;
}